/*  Responsiveness for large phone 576px to 767px  */

@media only screen and (min-width:576px) and (max-width:767px) {
    .services-1 h2{
        margin-top: 102px;
    }
    .services-1 {
        height: fit-content;
        padding: 0px;
    }
}


/* responsiveness for tablet */

@media only screen and (min-width:768px) and (max-width:991px) {
    .services-1 {
        height: fit-content;

    }
    .row {
        
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width:575px) {
    .services-1 {
        height: fit-content;
        padding: 0px;
    }
    .services-1 h2{
        margin-top: 102px;
    }
    
}

.services-1{
    height: fit-content;
  }

  .services-1 h2{
    margin-top: 110px;
    margin-bottom: 20px;
}